---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">About Daniel Kinsey</h1>
        <p class="mb-5">
          I'm Daniel Kinsey, a software developer in Ottawa with a passion for
          solving problems. In 2025, I graduated summa cum laude from the
          University of Ottawa with a degree in Computer Science. During my time
          as a student, I worked as a web developer at two internships.
        </p>
        <p class="mb-5">
          In my free time I love tinkering with new technologies on my home
          server (serving you this website). I also love music; I play guitar
          decently and piano poorly.
        </p>
      </div>
    </div>
  </div>
</Layout>
