---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">
          Daniel Kinsey's Contact Information
        </h1>
        <p class="mb-5">
          You can contact me via email at <a
            href="mailto:daniel.kinsey.dk@gmail.com"
          >
            daniel.kinsey.dk@gmail.com
          </a>
        </p>
      </div>
    </div>
  </div></Layout
>
