---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Daniel Kinsey</h1>
        <p class="mb-5">
          This is my personal website. Here you can find information about my <a
            href="/projects"
            class="link">projects</a
          > and <a href="/about" class="link">interests</a>, and my <a
            href="/resume"
            class="link">resume</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
