---
import {
  MoonIcon,
  PaintBrushIcon,
  SunIcon,
  Cog6ToothIcon,
  Bars3Icon,
} from "@heroicons/vue/24/outline";
import BackgroundSelector from "./BackgroundSelector.vue";
import Monogram from "../assets/monogram.svg";

let { pathname } = Astro.url;
pathname = pathname.replace(/\/+$/, "").replace(/^\/+/, ""); // Remove trailing and leading slashes
---

<div class="navbar bg-base-300 shadow min-h-16 max-h-16">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
        <Bars3Icon class="h-10 w-10" role="button" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-xl dropdown-content bg-base-200 rounded-box z-1 mt-3 w-52 p-2 shadow gap-4"
      >
        <li>
          <a href="/" class:list={[pathname === "" ? "outline" : ""]}>Home</a>
        </li>
        <li>
          <a href="/about" class:list={[pathname === "about" ? "outline" : ""]}
            >About</a
          >
        </li>
        <li>
          <a
            href="/projects"
            class:list={[pathname === "projects" ? "outline" : ""]}>Projects</a
          >
        </li>
        <li>
          <a href="/daniel-kinsey-resume.pdf">Resume</a>
        </li>
        <li>
          <a
            href="/contact"
            class:list={[pathname === "contact" ? "outline" : ""]}>Contact</a
          >
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl btn-square" href="/">
      <Monogram class="h-10 w-10 stroke-primary" />
    </a>
  </div>
  <div class="navbar-center
        hidden
        sm:flex">
    <ul class="menu menu-horizontal menu-lg px-1 gap-2">
      <li>
        <a href="/" class:list={[pathname === "" ? "outline" : ""]}>Home</a>
      </li>
      <li>
        <a href="/about" class:list={[pathname === "about" ? "outline" : ""]}
          >About</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class:list={[pathname === "projects" ? "outline" : ""]}>Projects</a
        >
      </li>
      <li>
        <a href="/daniel-kinsey-resume.pdf">Resume</a>
      </li>
      <li>
        <a
          href="/contact"
          class:list={[pathname === "contact" ? "outline" : ""]}>Contact</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <details class="dropdown dropdown-end">
      <summary class="btn btn-ghost">
        <Cog6ToothIcon class="h-10 w-10" />
      </summary>
      <ul
        class="menu menu-vertical dropdown-content bg-base-200 rounded-box shadow"
      >
        <li class="dropdown dropdown-left">
          <span tabindex="0" role="button">
            <PaintBrushIcon class="h-10 w-10" role="button" />
          </span>
          <ul
            tabindex="0"
            class="dropdown-content bg-base-200 rounded-box shadow"
          >
            <BackgroundSelector client:load />
          </ul>
        </li>
        <li>
          <label class="swap swap-rotate">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" class="theme-controller" value="winter" />

            <SunIcon class="swap-on h-10 w-10" />
            <MoonIcon class="swap-off h-10 w-10" />
          </label>
        </li>
      </ul>
    </details>
  </div>
</div>
