---
import Background from "../components/Background.astro";
import DebugInfo from "../components/DebugInfo.vue";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const astroInfo = {
  href: Astro.url.href,
  origin: Astro.url.origin,
  pathname: Astro.url.pathname,
  generator: Astro.generator,
  buildDate: new Date().toISOString(), // Note this is run at build time
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/monogram-white-bg.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel's Website.</title>
  </head>
  <body>
    <div class="relative min-h-screen">
      <div class="relative flex flex-col h-screen items-center">
        <Navbar />
        <div class="filter backdrop-blur-md max-w-3xl m-5 rounded-3xl">
          <slot class="grow" />
        </div>
      </div>
      <DebugInfo client:load astroInfo={astroInfo} />
      <div class="fixed inset-0 -z-100">
        <Background />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
